@import '~styles/components/black-component';
@import '~styles/components/light-component';
@import '~styles/variables/colors';
@import '~styles/collapsible';
@import '~bootstrap';

.header {
    @include black-component;

    margin-bottom: 30px;
    border-bottom: 2px solid $red-component-border;
    padding: 0;

    .logo {
        width: 50px;
        height: auto;
    }
}

.footer {
    @include black-component;

    border-top: 2px solid $red-component-border;
    color: #fff;
    margin-top: 30px;

    span {
        color: #ff0000;
    }

    a {
        color: #fff;
        text-decoration: underline;
    }

    a:hover {
        color: #efefee;
    }
}

.component-light {
    @include light-component;
    margin-top: 25px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 900px;
}
